<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/css/global.css">
    <title><?=$page['title']?></title>
</head>
<body>
<nav>
<ul>
    <li><h1><a href="/">Zombies</a></h1></li>
    <li><a href="registrar.php">Registrar un nuevo zombie</a></li>
    <li><a href="todos.php">Todos los zombies</a></li>
    <li><a href="estados.php">Por estado</a></li>
    <li><a href="estadisticas.php">Estadisticas</a></li>
</ul>
</nav>