<h3>Zombies en estado <?=$status?></h3>
<?php if (count($data) > 0): ?>
<table>
<thead>
<tr>
    <th>Nombre</th>
    <th>Fecha registro</th>
    <th>Fecha cambio</th>
</tr>
</thead>
<tbody>

<?php foreach($data as $zombie): ?>
<tr>
    <?php foreach($zombie as $k => $v): ?>
        <td><?=$v?></td>
    <?php endforeach;?>
</tr>
<?php endforeach;?>

</tbody>
</table>
<?php else: ?>
    <p>No hay zombies registrados</p>
<?php endif; ?>