<h2>Actualizar estado de <?=$zombie['name']?></h2>
<form action="editar_procesar.php" method="post">
    <input type="hidden" name="id" value="<?=$id?>">
    <p>
        <label for="status">Estado:</label>
        <select id="status" name="status">
            <?php foreach($status as $k => $v): ?>
            <option <?php if($k == $zombie['status']) echo "selected ";?>value="<?=$k?>"><?=$v?></option>
            <?php endforeach; ?>
        </select>
    </p>
    <p>
        <button type="submit">Guardar</button>
    </p>
</form>