<div>
    <h1>Consultar zombies por estados</h1>
    <label for="status">Estado:</label>
    <select id="status">
        <option disabled selected>Selecciona un estado</option>
        <?php foreach($status as $k => $v): ?>
        <option value="<?=$v?>"><?=$v?></option>
        <?php endforeach; ?>
    </select>
</div>
<div id="result"></div>