<div id="statistics">
    <p><strong>Zombies registrados:</strong> <?=$data['total']?></p>
    <?php if (count($data['byStatus']) > 0): ?>
    <table>
    <tbody>
    <?php foreach($data['byStatus'] as $k => $v): ?>
        <tr>
            <td><strong><?=$k?>:</strong></td>
            <td><?=$v?></td>
        </tr>
    <?php endforeach;?>
    </tbody>
    </table>
    <?php else: ?>
        <p>No hay zombies registrados</p>
    <?php endif; ?>
    <p><strong>Zombies no muertos:</strong> <?=$data['notDead']?></p>
</div>