<form action="registrar_procesar.php" method="post">
    <p>
        <label for="name">Nombre:</label>
        <input type="text" name="name" id="name">
    </p>
    <p>
        <label for="status">Estado:</label>
        <select id="status" name="status">
            <?php foreach($status as $k => $v): ?>
            <option value="<?=$k?>"><?=$v?></option>
            <?php endforeach; ?>
        </select>
    </p>
    <p>
        <button type="submit">Guardar</button>
    </p>
</form>