<div id="statistics">
    <h1>Todos los zombies</h1>
    <?php if (count($data) > 0): ?>
    <table>
    <thead>
    <tr>
        <th>Nombre</th>
        <th>Fecha registro</th>
        <th>Fecha cambio</th>
        <th>Estado</th>
    </tr>
    </thead>
    <tbody>
    
    <?php foreach($data as $zombie): ?>
    <tr>
        <td><a href="/editar.php?id=<?=$zombie['id']?>"><?=$zombie['name']?></a></td>
        <td><?=$zombie['added']?></td>
        <td><?=$zombie['turned']?></td>
        <td><?=$zombie['status']?></td>
    </tr>
    <?php endforeach;?>
    
    </tbody>
    </table>
    <?php else: ?>
        <p>No hay zombies registrados</p>
    <?php endif; ?>
</div>